body {
   background: #292929;
   color:      #ffffff;
   font-family: Verdana,sans-serif;
   font-size: 18px;
   padding: 0;
   margin:  0;
   height:100%;
}

a {
   color: inherit;
   text-decoration: inherit;
}

.navbar {
   display: inline;
   border-bottom: thin solid #000000;
   overflow: auto;
   width: 100%;
}

.navbar-bg {
   width: 100%;
   height: 54px;
   box-shadow: 0 0px 5px #000000;
   -webkit-app-region: drag;
}

.navitem {
   float: left;
   width: 100px;
   padding: 16px;
   margin:  0;
   -webkit-app-region: no-drag;
}

.navitem-static {
   float: left;
   width: 100px;
   height: 38px;
   background-color: #FE9720;
   padding: 16px 16px 0px 16px;
   margin:  0;
   border-right: 1px solid #292929;
}

.navitem-selected {
   float: left;
   width: 100px;
   height: 32px;
   padding: 16px 16px 0px 16px;
   margin:  0;
   border-bottom: 6px solid #FE9720;
}

.navitem:hover {
   background: #101010;
}

.exit {
   float: right;
   width: 32px;
   height: 32px;
   padding: 0;
   margin: 0;
   margin-right: 16px;
   margin-top: 10px;
}

.exit:hover {
   background-color: #101010;
}

.sidebar {
   position: absolute;
   margin: 0;
   background: #191919;
   overflow-y: scroll;
   overflow-x: hidden;
   margin-bottom: 0px;
   top: 54px;
   bottom: 0px;
   width: 300px;
}

.sideitem {
   width: 100%;
   height: 54px;
   background-color: #232323;
   border-bottom: 2px solid #191919;
   padding: 0;
   margin: 0;
   overflow: hidden;
}

.sideitem-inner {
   background-color: #232323;
   margin: 0;
   padding: 0;
}

.sideitem-inner:hover {
   background-color: #191919;
}

.sideitem-inner-selected {
   background-color: #232323;
   border-left: 6px solid #FE9720;
}

.friend {
   padding: 16px 16px 16px 16px;
   margin: 0;
}

.chat-history {
   position: absolute;
   margin: 0;
   background: #191919;
   overflow-y: scroll;
   overflow-x: hidden;
   margin-bottom: 0px;
   top: 0px;
   bottom: 100px;
   right: 0;
   left: 0;
   word-wrap: break-word;
}

.chat-input {
   color: #FFFFFF;
   background-color: #191919;
   position: absolute;
   width: 100%;
   height: 100px;
   right: 0;
   bottom: 0;
   border: 6px solid #101010;
   border-left: none;
   resize: none;
}

.chat-input:focus {
   outline: none;
}

.chat-message-left {
   width: 100%;
}

.chat-message-right {
   width: 100%;
   text-align: right;
}

.content {
   position: absolute;
   left: 300px;
   right: 0;
   top: 54px;
   bottom: 0px;
   background-color: #191919;
}

.forceoverflow {
   min-height: 1000px;
}

.clear {
   clear: left;
}

::-webkit-scrollbar {
   width: 6px;
}
::-webkit-scrollbar-track {
   background: #101010;
}
::-webkit-scrollbar-thumb {
   background: #FE9720;
}
::-webkit-scrollbar-thumb:window-inactive {
   background: #FE9720;
}
